<div class="container overlay-color">
  <div class="row mt-0">
    <div class="col-12 text-center my-0">
      <div class="jumbotron my-0 pt-3 overlay-white">

        <h1 class="display-3 band-name">DIRECTORY A-Z</h1>
        <hr>
        <div class="col-10 col-sm-12 mx-auto">
          <table class="table table-striped text-center">
            <tbody>
              <tr>
                {{#each bandName}}
              <td style="font-size: large; font-weight:bold;"><a href="/bands/{{this.bandName}}"
                  class="text-success">{{this.bandName}}</a></td>
              </tr>
            {{/each}}              
            </tbody>
          </table>
        </div>


      </div>
    </div>
  </div>

</div>

<script src="/js/index.js"></script>