<div class="container overlay-color">
  <div class="row mt-0">
    <div class="col-12">

      <div class="jumbotron my-0 pt-2 pb-3 overlay-white">

        <div class="text-center"><img src="/img/Tempo_logo.png" height="250">
          <h1 class="display-4">KEEPING UP WITH IT</h1>
          <hr>
        </div>

        <div class="text-justify mt-3 col-8 float-left">
          <h5 class="text-right"><strong>tem·po /ˈtempō/</strong> - the speed at which a passage of music is or should
            be played; the rate or speed of motion or activity; pace.</h5>

          <p class="text-justify mt-4">
            When it comes to music, you want to keep up with the tempo. Where's the band from? Where are they touring?
            What's their discography?</p>

          <p class="text-justify mt-4">
            Tempo is a centralized database for bands, but not just the well-known or celebrity bands. You can upload
            your own band's information and be part of the Tempo database. Once you've entered your band's information,
            you can come back and edit or update the information. Easy as that! Get your band's name out there and be seen!</p>

          {{!-- <p class="text-justify mt-4">
            <a href="/bandregister" class="text-success"><strong>Register</strong></a> or <a href="/bandlogin"
              class="text-success"><strong>log in</strong></a> now!</p> --}}



        </div>
        <div class="col-4 mt-3 float-right mb-5">
          <img src="/img/bbng.jpg" class="img-fluid border border-secondary" width="300">
        </div>
        <div class="clearfix mb-5"></div>
        <hr>
        <div class="col-12">
          <h1 class="display-4 text-center band-name">MEET THE TEAM</h1>
          <hr>
        </div>
        <div class="row mt-5">
          <div class="col-lg-3 col-sm-6 text-center">
            <img src="/img/bessy_m.jpg" width="200" class="img-fluid border border-secondary mb-2">
            <h5><a href="https://bessygmartinez.com" target="_blank" class="text-success">Bessy G. Martinez</a>
            </h5>
          </div>

          <div class="col-lg-3 col-sm-6 text-center">
            <img src="/img/ramon_v.jpg" width="200" class="img-fluid border border-secondary mb-2">
            <h5><a href="https://rgvegajr.github.io/Portfolio/" target="_blank" class="text-success">Ramon Vega</a></h5>
          </div>

          <div class="col-lg-3 col-sm-6 text-center">
            <img src="/img/monica_s.jpg" width="200" class="img-fluid border border-secondary mb-2">
            <h5><a href="https://github.com/monicarocios" target="_blank" class="text-success">Monica Scroggs</a></h5>
          </div>

          <div class="col-lg-3 col-sm-6 text-center">
            <img src="/img/sebastian_a.jpg" width="200" class="img-fluid border border-secondary mb-2">
            <h5><a href="https://github.com/xsebastianx" target="_blank" class="text-success">Sebastian Arnavat</a></h5>
          </div>
        </div>
        <br><br>
        {{!-- <p class="text-left">
          <a href="/" class="text-success">← Back Home</a></p> --}}
      </div>
    </div>
  </div>
</div>