<div class="container overlay-color">
  <div class="row mt-0">
    <div class="col-12">

      <div class="jumbotron my-0 pt-2 pb-3 overlay-white">
        
        <div class="text-center"><img src="/img/Tempo_logo.png" height="250">
          <h1 class="display-4">KEEPING UP WITH IT</h1>
        </div>

        <div class="text-justify mt-4">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Lectus arcu bibendum at varius vel. Cras sed felis eget velit aliquet sagittis id
                consectetur purus. Semper auctor neque vitae tempus quam pellentesque. Interdum varius sit amet mattis
                vulputate enim nulla aliquet. Purus gravida quis blandit turpis cursus in hac habitasse platea. Quis
                risus sed vulputate odio ut enim blandit. Ut tellus elementum sagittis vitae. Rhoncus urna neque viverra
                justo. Suspendisse ultrices gravida dictum fusce ut.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Lectus arcu bibendum at varius vel. Cras sed felis eget velit aliquet sagittis id
                consectetur purus. Semper auctor neque vitae tempus quam pellentesque. Interdum varius sit amet mattis
                vulputate enim nulla aliquet. Purus gravida quis blandit turpis cursus in hac habitasse platea. Quis
                risus sed vulputate odio ut enim blandit. Ut tellus elementum sagittis vitae. Rhoncus urna neque viverra
                justo. Suspendisse ultrices gravida dictum fusce ut.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Lectus arcu bibendum at varius vel. Cras sed felis eget velit aliquet sagittis id
                consectetur purus. Semper auctor neque vitae tempus quam pellentesque. Interdum varius sit amet mattis
                vulputate enim nulla aliquet. Purus gravida quis blandit turpis cursus in hac habitasse platea. Quis
                risus sed vulputate odio ut enim blandit. Ut tellus elementum sagittis vitae. Rhoncus urna neque viverra
                justo. Suspendisse ultrices gravida dictum fusce ut.</p>
        </div>
        <br><br>  
        <p class="text-left">
          <a href="/" class="text-success">← Back Home</a></p>        
      </div>
    </div>
  </div>
</div>