<div id="home">
  <div class="container fill overlay-color">
    <div class="row">
      <div class="col-12">
        {{!-- <h1>{{msg}}</h1> --}}
        {{!-- <div class="text-center"><img src="/img/Tempo_logo.png" height="300"><p>KEEPING IT UP WITH IT.</p></div> --}}
        <div class="jumbotron my-0 overlay-white">

                    <div class="row mb-3">
            <div class="col-12">
              <h1 class="display-4">ADD A BAND!</h1>
              <hr>
            </div>
          </div>

          <div class="row">
            <div class="col-12 text-left">
    <form class="clearfix my-3" action="POST">
          <div class="form-group">
            <label for="bandName">Band Name</label>
            <input type="text" id="bandName" class="form-control" aria-describedby="band-name" placeholder="Enter Your Band's Name" required>
          </div>
          <div class="form-group">
            <label for="bandPhotoURL">Band Picture</label>
            <input type="text" class="form-control" id="bandPhotoURL" aria-describedby="band-photo" placeholder="Enter Your Band's Photo URL ">
          </div>
          <div class="form-group">
            <label for="bandHometown">Band Hometown</label>
            <input type="text" class="form-control" id="bandHometown" aria-describedby="band-hometown" placeholder="Enter Your Band's Hometown">
          </div>
          <div class="form-group">
          </div>
            <label for="bandGenre">Band Genre</label>
                <select name="bandGenre" id="bandGenre">
                    <option value="Rock">Rock</option>
                    <option value="Pop">Pop</option>
                    <option value="HipHop/R&B">HipHop/R&B</option>
                    <option value="Jazz">Jazz</option>
                    <option value="Other">Other</option>
                </select>
          <div class="form-group">
            <label for="bandPhotoURL">Band Bio</label>
            <input type="textarea" class="form-control" id="bandBio" aria-describedby="band-bio" placeholder="Enter Your Band's Bio">
          </div>
          <button id="login-submit" class="btn btn-success float-right">Submit</button>
        </form>

        <p>
          Don't have a login? <a href="/bandregister" class="text-success"><strong>Sign up</strong></a> to get started.
        </p>
            </div>
          </div>
        </div>
        {{!-- <form class="clearfix my-5" action="POST">
          <div class="form-group">
            <label for="example-text">Example Text</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group mb-4">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul> --}}
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>