<div class="container overlay-color">
  <div class="row mt-0">
    <div class="col-12">
      <div class="jumbotron my-0 overlay-white pt-5">

        <div class="row mb-1 mt-0">
          <div class="col-12">
            <h1 class="display-4 band-name">ADD A BAND!</h1>
            <hr>
          </div>
<<<<<<< HEAD
            <label for="bandGenre">Band Genre</label>
                <select name="bandGenre" id="bandGenre">
                    <option value="Rock" selected="selected">Rock</option>
                    <option value="Pop">Pop</option>
                    <option value="HipHop/R&B">HipHop/R&B</option>
                    <option value="Jazz">Jazz</option>
                    <option value="Other">Other</option>
=======
        </div>

        <div class="row">
          <div class="col-12 text-left">
            <form class="clearfix my-3" action="POST">

             <label class="input-group-text bg-success text-white col-3" for="bandGenre">Genre</label>
              <div class="input-group mb-5">
                <div class="input-group-prepend">
            
                </div>
                <select class="custom-select" id="bandGenre">
                  <option value="Electronic">Electronic</option>
                  <option value="HipHop/R&B">HipHop/R&B</option>
                  <option value="Jazz">Jazz</option>
                  <option value="Pop">Pop</option>
                  <option value="Rock">Rock</option>
>>>>>>> a3f9ec6d69508d1bceb2d9b81b17d4e644e537e2
                </select>
              </div>

            <span class="input-group-text bg-success text-white col-3" id="bandNameLabel">Name</span>
              <div class="input-group mb-5">
                <div class="input-group-prepend">
                  
                </div>
                <input type="text" class="form-control" placeholder="Enter your band's name" id="bandName" required>
              </div>

            <span class="input-group-text bg-success text-white col-3" id="bandPhotoLabel">Photo URL</span>
              <div class="input-group mb-5">
                <div class="input-group-prepend">
                  
                </div>
                <input type="text" class="form-control" placeholder="Enter your band's photo URL" id="bandPhotoURL"
                  required>
              </div>

            <span class="input-group-text bg-success text-white col-3" id="bandHometownLabel">Hometown</span>
              <div class="input-group mb-5">
                <div class="input-group-prepend">
                  
                </div>
                <input type="text" class="form-control" placeholder="Enter your band's hometown" id="bandHometown"
                  required>
              </div>

            <span class="input-group-text bg-success text-white col-3" id="bandBioLabel">Short Bio</span>
              <div class="input-group mb-5">
                <div class="input-group-prepend">

                </div>
                <textarea class="form-control" placeholder="Tell us about your band" id="bandBio"
                  required></textarea>
              </div>

            <span class="input-group-text bg-success text-white col-3" id="bandDiscogLabel">Discography</span>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Album #1 Title</span>
                </div>
                <input type="text" class="form-control" placeholder="Album #1 Title" id="discogTitle">

                <div class="input-group-prepend">
                  <span class="input-group-text">Album #1 Year</span>
                </div>
                <input type="text" class="form-control" placeholder="Album #1 Year" id="discogYear">

                <div class="input-group-prepend">
                  <span class="input-group-text">Album #1 Tracks</span>
                </div>
                <input type="text" class="form-control" placeholder="(Number of Tracks)" id="discogTracks">                          
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Album #2 Title</span>
                </div>
                <input type="text" class="form-control" placeholder="Album #2 Title" id="discogTitle">

                <div class="input-group-prepend">
                  <span class="input-group-text">Album #2 Year</span>
                </div>
                <input type="text" class="form-control" placeholder="Album #2 Year" id="discogYear">

                <div class="input-group-prepend">
                  <span class="input-group-text">Album #2 Track #</span>
                </div>
                <input type="text" class="form-control" placeholder="(Number of Tracks)" id="discogTracks">                          
              </div>

                            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Album #3 Title</span>
                </div>
                <input type="text" class="form-control" placeholder="Album #3 Title" id="discogTitle">

                <div class="input-group-prepend">
                  <span class="input-group-text">Album #3 Year</span>
                </div>
                <input type="text" class="form-control" placeholder="Album #3 Year" id="discogYear">

                <div class="input-group-prepend">
                  <span class="input-group-text">Album #3 Track #</span>
                </div>
                <input type="text" class="form-control" placeholder="(Number of Tracks)" id="discogTracks">                          
              </div>

              <button id="submitNewband" class="btn btn-success float-right">Submit</button>
            </form>

            {{!-- <p>
                Don't have a login? <a href="/bandregister" class="text-success"><strong>Sign up</strong></a> to get
                started.
              </p> --}}
          </div>
        </div>
      </div>
      {{!-- <form class="clearfix my-5" action="POST">
          <div class="form-group">
            <label for="example-text">Example Text</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group mb-4">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul> --}}
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>