<div class="container overlay-color">
  <div class="row mt-0">
    <div class="col-12">
      <div class="jumbotron my-0 overlay-white pt-5">

        <div class="row mb-1 mt-0">
          <div class="col-12">
            <h1 class="display-4 band-name">ADD A BAND!</h1>
            <hr>
          </div>
        </div>

        <div class="row">
          <div class="col-12 text-left">
            <form class="clearfix my-3" action="POST">

              <!-- START GENRE SECTION -->
              <label class="input-group-text bg-success text-white col-3" for="bandGenre"><strong>GENRE</strong></label>
              <div class="input-group mb-5">
                <div class="input-group-prepend">

                </div>
                <select class="custom-select" id="bandGenre">
                  <option value="Electronic">Electronic</option>
                  <option value="HipHop/R&B">HipHop/R&B</option>
                  <option value="Jazz">Jazz</option>
                  <option value="Pop">Pop</option>
                  <option value="Rock">Rock</option>
                </select>
              </div>
              <!-- END GENRE SECTION -->

              <!-- START NAME SECTION -->
              <span class="input-group-text bg-success text-white col-3" id="bandNameLabel"><strong>NAME</strong></span>
              <div class="input-group mb-5">
                <div class="input-group-prepend">

                </div>
                <input type="text" class="form-control" placeholder="Enter your band's name" id="bandName" required>
              </div>
              <!-- END NAME SECTION -->

              <!-- START PHOTOURL SECTION -->
              <span class="input-group-text bg-success text-white col-3" id="bandPhotoLabel"><strong>PHOTO
                  URL</strong></span>
              <div class="input-group mb-5">
                <div class="input-group-prepend">

                </div>
                <input type="text" class="form-control" placeholder="Enter your band's photo URL" id="bandPhotoURL"
                  required>
              </div>
              <!-- END PHOTOURL SECTION -->

              <!-- START HOMETOWN SECTION -->
              <span class="input-group-text bg-success text-white col-3"
                id="bandHometownLabel"><strong>HOMETOWN</strong></span>
              <div class="input-group mb-5">
                <div class="input-group-prepend">

                </div>
                <input type="text" class="form-control" placeholder="Enter your band's hometown" id="bandHometown"
                  required>
              </div>
              <!-- END HOMETOWN SECTION -->

              <!-- END BIO SECTION -->
              <span class="input-group-text bg-success text-white col-3" id="bandBioLabel"><strong>SHORT
                  BIO</strong></span>
              <div class="input-group mb-5">
                <div class="input-group-prepend">

                </div>
                <textarea class="form-control" placeholder="Tell us about your band" id="bandBio" required></textarea>
              </div>
              <!-- END BIO SECTION -->

              <!-- START DISCOGRAPHY SECTION -->
              <span class="input-group-text bg-success text-white col-3"
                id="bandDiscogLabel"><strong>DISCOGRAPHY</strong></span>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Album #1 Title</span>
                </div>
                <input type="text" class="form-control" placeholder="Title" id="discTitle1">

                <div class="input-group-prepend">
                  <span class="input-group-text">Album #1 Year</span>
                </div>
                <input type="text" class="form-control" placeholder="YYYY" id="discYear1">

                <div class="input-group-prepend">
                  <span class="input-group-text">Album #1 Tracks</span>
                </div>
                <input type="text" class="form-control" placeholder="Number of Tracks" id="discTracks1">
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Album #2 Title</span>
                </div>
                <input type="text" class="form-control" placeholder="Title" id="discTitle2">

                <div class="input-group-prepend">
                  <span class="input-group-text">Album #2 Year</span>
                </div>
                <input type="text" class="form-control" placeholder="YYYY" id="discYear2">

                <div class="input-group-prepend">
                  <span class="input-group-text">Album #2 Tracks</span>
                </div>
                <input type="text" class="form-control" placeholder="Number of Tracks" id="discTracks2">
              </div>

              <div class="input-group mb-5">
                <div class="input-group-prepend">
                  <span class="input-group-text">Album #3 Title</span>
                </div>
                <input type="text" class="form-control" placeholder="Title" id="discTitle3">

                <div class="input-group-prepend">
                  <span class="input-group-text">Album #3 Year</span>
                </div>
                <input type="text" class="form-control" placeholder="YYYY" id="discYear3">

                <div class="input-group-prepend">
                  <span class="input-group-text">Album #3 Tracks</span>
                </div>
                <input type="text" class="form-control" placeholder="Number of Tracks" id="discTracks3">
              </div>
              <!-- END DISCOGRAPHY SECTION -->

              <!-- START TOURS SECTION -->
              <span class="input-group-text bg-success text-white col-3" id="bandDiscogLabel"><strong>TOUR
                  DATES</strong></span>

              <div class="input-group mb-1">
                <div class="input-group-prepend">
                  <span class="input-group-text">Venue #1 Name</span>
                </div>
                <input type="text" class="form-control" placeholder="Name" id="tourVenue1">

                <div class="input-group-prepend">
                  <span class="input-group-text">Venue #1 City</span>
                </div>
                <input type="text" class="form-control" placeholder="City" id="tourCity1">

                <div class="input-group-prepend">
                  <span class="input-group-text">Venue #1 State</span>
                </div>
                <input type="text" class="form-control" placeholder="State" id="tourState1">
              </div>

              <div class="input-group mb-5">
                <div class="input-group-prepend">
                  <span class="input-group-text">Venue #1 Date</span>
                </div>
                <input type="text" class="form-control" placeholder="YYYY-MM-DD" id="tourDate1">

                <div class="input-group-prepend">
                  <span class="input-group-text">Venue #1 Time</span>
                </div>
                <input type="text" class="form-control" placeholder="HH:MM" id="tourTime1">
              </div>

              <div class="input-group mb-1">
                <div class="input-group-prepend">
                  <span class="input-group-text">Venue #2 Name</span>
                </div>
                <input type="text" class="form-control" placeholder="Name" id="tourVenue2">

                <div class="input-group-prepend">
                  <span class="input-group-text">Venue #2 City</span>
                </div>
                <input type="text" class="form-control" placeholder="City" id="tourCity2">

                <div class="input-group-prepend">
                  <span class="input-group-text">Venue #2 State</span>
                </div>
                <input type="text" class="form-control" placeholder="State" id="tourState2">
              </div>

              <div class="input-group mb-5">
                <div class="input-group-prepend">
                  <span class="input-group-text">Venue #2 Date</span>
                </div>
                <input type="text" class="form-control" placeholder="YYYY-MM-DD" id="tourDate2">

                <div class="input-group-prepend">
                  <span class="input-group-text">Venue #2 Time</span>
                </div>
                <input type="text" class="form-control" placeholder="HH:MM" id="tourTime2">
              </div>

              <div class="input-group mb-1">
                <div class="input-group-prepend">
                  <span class="input-group-text">Venue #3 Name</span>
                </div>
                <input type="text" class="form-control" placeholder="Name" id="tourVenue3">

                <div class="input-group-prepend">
                  <span class="input-group-text">Venue #3 City</span>
                </div>
                <input type="text" class="form-control" placeholder="City" id="tourCity3">

                <div class="input-group-prepend">
                  <span class="input-group-text">Venue #3 State</span>
                </div>
                <input type="text" class="form-control" placeholder="State" id="tourState3">
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Venue #3 Date</span>
                </div>
                <input type="text" class="form-control" placeholder="YYYY-MM-DD" id="tourDate3">

                <div class="input-group-prepend">
                  <span class="input-group-text">Venue #3 Time</span>
                </div>
                <input type="text" class="form-control" placeholder="HH:MM" id="tourTime3">
              </div>


              <!-- END TOURS SECTION -->

              <button id="submitNewband" class="btn btn-success float-right">Submit</button>
            </form>

            <!-- Modal for band submission -->
            <div id="bandSubmitSuccess" class="modal fade" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Success!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>Your band has been added!</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-lg btn-success" data-dismiss="modal" id="add-band-modal">Go to page →</button>
                  </div>
                </div>
              </div>
            </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<script src="/js/index.js"></script>
