html, body {
  height: 100vh;
}

.list-group-item {
  line-height: 2.5;
}

.overlay-color {
  background-color: rgba(238, 245, 219, 0.85);
}

.overlay-white {
  background-color: rgba(255,255,255,0.6)
}

.fill {
  height: 100vh;
  max-height: 100vh;
}

.band-name {
  color: #000000;
  text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
}

.band-name-link a:hover {
  color: #5cb85c;
}

.band-info {
  font-size: large;
}